<body>
    <div class="upload-container">
      <h3>Cargar artículo</h3>
      <form>
        <div class="form-group">
          <label for="tipoSubsistema"><i class="fas fa-university"></i> Tipo Subsistema</label>
          <select class="form-control" id="tipoSubsistema">
            <option></option>
            <option>Universidad Tecnológica</option>
            <option>Universidad Politécnica</option>
            <option>Instituto Tecnológico</option>
          </select>
        </div>
        <div class="form-group">
          <label for="tituloArticulo"><i class="fas fa-file-alt"></i> Título Artículo</label>
          <input type="text" class="form-control" id="tituloArticulo" placeholder="Título Artículo">
        </div>
        <div class="form-group">
          <label for="autor"><i class="fas fa-user"></i> Autor</label>
          <input type="text" class="form-control" id="autor" placeholder="Autor">
        </div>
        <div class="form-group">
          <label for="resumenArticulo"><i class="fas fa-book"></i> Breve comentario del artículo</label>
          <textarea class="form-control" id="resumenArticulo" rows="3" placeholder="Breve comentario del artículo"></textarea>
        </div>
        <div class="form-group">
          <label for="archivo"><i class="fas fa-upload"></i> Elegir archivo</label>
          <input type="file" class="form-control-file" id="archivo">
        </div>
        <button type="submit" class="btn btn-primary btn-blok">Cargar archivo</button>
      </form>
    </div>
  </body>
  